<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Registrate Ahora!</h3>
                    <p>Bienvenido a Mascota Feliz</p>
                    <form [formGroup]="fgValidador" (ngSubmit)="GuardarUsuario()">

                        <div class="col-md-12">
                            <input formControlName="Cedula" class="form-control" type="text" placeholder="Cedula" />
                        </div>

                        <div class="col-md-12">
                            <input formControlName="Nombre" class="form-control" type="text" placeholder="Nombre" />
                        </div>

                        <div class="col-md-12">
                            <input formControlName="Apellido" class="form-control" type="text" placeholder="Apellido" />
                        </div>

                        <div class="col-md-12">
                            <input formControlName="Telefono" class="form-control mt-3" type="tel"
                                placeholder="Telefono" />
                        </div>

                        <div class="col-md-12">
                            <input formControlName="Correo" class="agregate" type="email" placeholder="Correo" />
                        </div>

                        <div class="col-md-12">
                            <select formControlName="Rol" class="form-select mt-3">
                                <option>Cliente</option>
                            </select>
                        </div>

                        <div class="form-button mt-3">
                            <button [disabled]="!fgValidador.valid" id="submit" type="submit"
                                class="btn btn-primary">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>