<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Editar Mascota</h3>
                    <p>Puedes editar un campo o todos</p>
                    <form [formGroup]="fgValidador" (ngSubmit)="EditarMascota()">
                        <input type="hidden" formControlName="id">
                        <div class="col-md-12 mt-3">
                            <input formControlName="Nombre" class="form-control" type="text"
                                placeholder="Nombre Mascota">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Estado" class="form-control" type="text"
                                placeholder="Estado Mascota">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Especie" class="form-control" type="text"
                                placeholder="Especie Mascota">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Foto" class="form-control" type="text" placeholder="Pegar Url Foto">
                        </div>

                        <div class="col-md-12 mt-3">
                            <textarea formControlName="Comentario" cols="30" rows="10"
                                placeholder="Comentario Mascota"></textarea>
                        </div>

                        <div class="form-button mt-3">
                            <button [disabled]="!fgValidador.valid" id="submit" type="submit"
                                class="btn btn-primary">Actualizar Mascota</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>