<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Editar Prospecto</h3>
                    <p>Edita todos los campos o uno solo</p>
                    <form [formGroup]="fgValidador" (ngSubmit)="EditarProspecto()">

                        <div class="col-md-12 mt-3">
                            <input formControlName="Nombre" class="form-control" type="text" placeholder="Nombre">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Apellido" class="form-control" type="text" placeholder="Apellido">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Correo" class="form-control" type="email" placeholder="Email">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Celular" class="form-control" type="text" placeholder="Celular">
                        </div>

                        <div class="col-md-12 mt-3">
                            <textarea formControlName="Comentario" cols="30" rows="10"
                                placeholder="Escribir Comentario"></textarea>
                        </div>

                        <div class="form-button mt-3">
                            <button [disabled]="!fgValidador.valid" id="submit" type="submit"
                                class="btn btn-primary">Editar Prospecto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>