<!-- Carousel Mision - Vision -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" id="img1">
        <div class="carousel-item active">
            <div class="carousel-caption">
                <h5 id="ftit">¡Bienvenido A Mascota Feliz!</h5>
            </div>
        </div>
        <div class="carousel-item" id="img2">
            <div class="carousel-caption">
                <h5 id="ftit2">Misión</h5>
                <p id="ptit">Mascota Feliz busca brindar a los Pacientes y a sus Familiares servicios de calidad y
                    realizando los
                    mejores
                    tratamientos médicos mejorando el bienestar y la salud de los animales</p>
            </div>
        </div>
        <div class="carousel-item" id="img3">
            <div class="carousel-caption">
                <h5 id="ftit2">Visión</h5>
                <p id="ptit">Ser una clínica veterinaria reconocida por su calidad en sus profesionales y sus servicios
                    a nivel
                    nacional, ademas
                    de
                    una referencia por la tecnologia a mano de los animales.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- formulario lleva:
nombre
apellido
correo
celular
comentario
-->

<p> productos, servicios</p>

<div class="formulario">
    <div class="form">
        <div class="title">Contáctenos</div>
        <div class="agregandotexto ic1">
            <label for="text" class="labels">Nombre</label>
            <input class="agregate" type="text" />
            <div class="cortar"></div>
        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Apellido</label>
            <input class="agregate" type="text" />
            <div class="cortar"></div>

        </div>
        <div class="agregandotexto ic2">
            <label for="email" class="labels">Email</label>
            <input class="agregate" type="email" />
            <div class="cortar "></div>

        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Celular</label>
            <input class="agregate" type="tel" />
            <div class="cortar"></div>

        </div>

        <div class="agregandotexto ic2">
            <label for="text" class="labels">Deje su Comentario</label>
            <textarea class="agregate" id="agragatearea" rows="3"></textarea>
            <div class="cortar"></div>

        </div>


        <button type="submit" class="submit1">Enviar</button>
    </div>
</div>