<nav class="navbar navbar-expand-lg" style="background-color: #282d32;">
    <div class="container">
        <a class="navbar-brand" routerLink="inicio">
            <img src="/../../assets/Logdoc.png" alt="MascotaFeliz" width="50" height="50">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" style="color:rgb(31, 92, 184) ;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" routerLink="inicio">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a *ngIf="sesion" class="nav-link dropdown-toggle text-white" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngIf="sesion"><a class="dropdown-item" routerLink="administracion/buscar-usuario">
                                Ususario</a>
                        </li>
                        <li *ngIf="sesion"><a class="dropdown-item" routerLink="administracion/buscar-mascota">
                                Mascota</a>
                        </li>
                        <li *ngIf="sesion"><a class="dropdown-item" routerLink="administracion/buscar-productoServicio">
                                Producto-Servicio</a>
                        </li>
                        <li *ngIf="sesion"><a class="dropdown-item" routerLink="administracion/buscar-plan">
                                Plan</a>
                        </li>
                        <li *ngIf="sesion"><a class="dropdown-item" routerLink="administracion/buscar-sucursal">
                                Sucursal</a>
                        </li>
                        <li *ngIf="sesion"><a class="dropdown-item" routerLink="administracion/buscar-prospecto">
                                Prospecto</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <!-- Botones sesion -->
            <div class="d-flex">
                <a *ngIf="!sesion" class="me-2" aria-current="page" routerLink="seguridad/identificacion"><button
                        class="btn btn-primary">Iniciar Sesion</button>
                </a>
                <a *ngIf="sesion" class="me-2" aria-current="page" routerLink="seguridad/cerrar-sesion"><button
                        class="btn btn-danger">Cerrar Sesion</button>
                </a>
            </div>
        </div>
    </div>
</nav>