<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Eliminar Sucursal</h3>
                    <p>Click en el boton para eliminar Sucursal </p>
                    <form [formGroup]="fgValidador" (ngSubmit)="EliminarSucursal()">

                        <div class="col-md-12 mt-3">
                            <input formControlName="Departamento" class="form-control" type="text"
                                placeholder="Departamento">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Ciudad" class="form-control" type="text" placeholder="Ciudad">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Direccion" class="form-control" type="text" placeholder="Direccion">
                        </div>

                        <div class="col-md-12 mt-3">
                            <input formControlName="Telefono" class="form-control" type="text" placeholder="Telefono">
                        </div>

                        <div class="form-button mt-3">
                            <button [disabled]="!fgValidador.valid" id="submit" type="submit"
                                class="btn btn-primary">Eliminar Sucursal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>