<h1 class="titlep">Planes</h1>

<a routerLink="/administracion/crear-plan" class="btn btn-primary mt-3 m-4">Nuevo Plan</a>

<div class="container mt-4">
    <table class="table table-hover table-secondary">
        <thead>
            <tr>
                <th scope="col" class="table-dark">Nombre</th>
                <th scope="col" class="table-dark">Foto</th>
                <th scope="col" class="table-dark">Descripcion</th>
                <th scope="col" class="table-dark">Precio</th>
                <th scope="col" class="table-dark">Editar</th>
                <th scope="col" class="table-dark">Eliminar</th>

            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let p of ListadoRegistros">
                <td>{{p.Nombre}}</td>
                <td><img src="{{p.Foto}}" height="60px" id="imd"> </td>
                <td>{{p.Descripcion}}</td>
                <td>${{p.Precio}}</td>
                <td>
                    <a routerLink="/administracion/editar-plan/{{p.id}}" class="btn btn-primary">Editar</a>
                </td>
                <td>
                    <a routerLink="/administracion/eliminar-plan/{{p.id}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>