<div class="formulario">
    <form class="form">
        <div class="title">Registrate</div>
        <div class="agregandotexto ic1">
            <label for="text" class="labels">Cedula</label>
            <input class="agregate" type="text" />
        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Nombre</label>
            <input class="agregate" type="text" />
        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Apellido</label>
            <input class="agregate" type="text" />
        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Celular</label>
            <input class="agregate" type="tel" />
        </div>
        <div class="agregandotexto ic2">
            <label for="email" class="labels">Email</label>
            <input class="agregate" type="email" />
        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Rol</label>
            <select name="rol" id="rol1" class="agregate">
                <option value="cliente">Cliente</option>
            </select>
        </div>

        <button type="submit" class="submit1">Enviar</button>
    </form>
</div>