<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 item text">
                    <h3>Mascot Feliz</h3>
                    <p>Mascota Feliz proyecto Mision Tic Utp Ciclo 4 grupo 32 equipo 7</p>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>

                <div class="col item social">
                    <a href="https://www.facebook.com/luisr7guerrero"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://github.com/guerrero27r"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/luis-guerrero-velasco-35930b176"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <p class="copyright">Sevensoft © 2022</p>
        </div>
    </footer>
</div>