<div class="formulario">
    <form class="form1" [formGroup]="fValidate" (ngSubmit)="IdentificacionUsuario()">
        <div class="title">Iniciar Sesion</div>

        <div class="agregandotexto ic2">
            <label for="Usuario" class="labels">Email</label>
            <input formControlName="Usuario" class="agregate" type="email" name="Usuario">

        </div>
        <div class="agregandotexto ic2">
            <label for="Contrasena" class="labels">Pasword</label>
            <input formControlName="Contrasena" type="password" class="agregate" name="Contrasena">

        </div>

        <div class="icontra">
            <a routerLink="/seguridad/recuperar-clave">Olvido su contraseña</a>
        </div>
        <div class="icontra2">
            <a routerLink="/../../seguridad/registrarse">Registrarse</a>
        </div>

        <button [disabled]="!fValidate.valid" class="submit1" type="submit">Enviar</button>
    </form>
</div>