<div class="formulario">
    <form class="form">
        <div class="title">Iniciar Sesion</div>

        <div class="agregandotexto ic2">
            <label for="email" class="labels">Email</label>
            <input class="agregate" type="email">
        </div>
        <div class="agregandotexto ic2">
            <label for="text" class="labels">Pasword</label>
            <input type="password" class="agregate">
        </div>

        <div class="icontra">
            <a routerLink="/seguridad/recuperar-clave">Olvido su contraseña</a>
        </div>
        <div class="icontra2">
            <a routerLink="/../../administracion/crear-usuario">Registrarse</a>
        </div>



        <button type="submit" class="submit1">Enviar</button>
    </form>
</div>